<ng-container *ngIf="platforms.length">

    <ng-container *ngFor="let child of platforms">

        <!--<buo-platform-card [platform]="child" [isChild]="true"></buo-platform-card>-->
        <div class="overflow-hidden">
            <ul>
                <li class="border-t border-gray-200">
                    <a href="#"
                        class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
                        <div class="flex items-center py-4">
                            <div class="min-w-0 flex-1 flex items-center">
                                <div class="min-w-0 flex-1 px-4">
                                    <div>
                                        <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
                                            {{ child.name }}
                                        </div>
                                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
                                            <i class="fas fa-user fa-sm mr-1"></i>
                                            <span class="truncate">{{ child.ownerDeployment }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <ng-container *ngIf="platform.hosts?.length">

            <buo-sensor-card [hosts]="platform.hosts"></buo-sensor-card>

        </ng-container>

    </ng-container>

</ng-container>