<div>
    <ul class="flex justify-end items-center">

        <li>
            <span class="inline-flex rounded-md shadow-sm">
                <button type="button" tooltip="Reset Map" (click)="reset.emit()" class="inline-flex justify-center items-center h-10 w-10 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <i class="fas fa-undo"></i>
                </button>
            </span>
        </li>

        <li class="ml-6">
            <span class="inline-flex rounded-md shadow-sm">
                <button type="button" tooltip="Air Temperature" (click)="show('AirTemperature')" class="inline-flex justify-center items-center h-10 w-10 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <i class="fas fa-temperature-low"></i>
                </button>
            </span>
        </li>
        
        <li class="ml-2">
            <span class="inline-flex rounded-md shadow-sm">
                <button type="button" tooltip="Relative Humidity"  (click)="show('RelativeHumidity')" class="inline-flex justify-center items-center h-10 w-10 p-2 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <img class="" src="assets/humidity.svg" alt="">
                </button>
            </span>
        </li>

        <li class="ml-2">
            <span class="inline-flex rounded-md shadow-sm">
                <button type="button" tooltip="Wind Speed" (click)="show('WindSpeed')" class="inline-flex justify-center items-center h-10 w-10 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <i class="fas fa-wind"></i>
                </button>
            </span>
        </li>

        <li class="ml-2">
            <span class="inline-flex rounded-md shadow-sm">
                <button type="button" tooltip="Precipitation Rate" (click)="show('PrecipitationRate')" class="inline-flex justify-center items-center h-10 w-10 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <i class="fas fa-vial"></i>
                </button>
            </span>
        </li>

    </ul>
</div>