<header class="py-10">
    <div class="max-w-full mx-auto px-4 sm:px-0">
        <h1 class="text-white text-xl font-bold capitalize">Page Title</h1>
    </div>
</header>

<div class="relative w-full shadow-md bg-gray-50 p-4 sm:rounded-sm" *ngIf="timeseries">

    <buo-property-datetime-filter (window)="windowHandler($event)"></buo-property-datetime-filter>

    <div class="mt-4">
        <buo-line-graph [tso$]="tso$"></buo-line-graph>
    </div>

    <div class="-mx-2 w-full flex flex-wrap">
        <div *ngFor="let ts of timeseries" class="w-1/3 px-2">

            <div class="mt-4 w-full bg-white shadow-inner overflow-hidden border border-gray-200 sm:rounded-md">
                <div class="px-4 py-5 border-b border-gray-200 sm:px-6" [style.background]="ts.colours.line">
                    <h3 class="text-lg leading-6 font-medium" [style.color]="ts.colours.hover">
                    Timeseries Information
                    </h3>
                    <p class="mt-1 max-w-2xl text-sm leading-5" [style.color]="ts.colours.point">
                    Sensor details and properties.
                    </p>
                </div>
                <div class="px-4 py-5 sm:p-0">
                    <dl>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Observed property
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                        {{ ts.observedProperty.label }}
                        </dd>
                    </div>
                    
                    <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Start Date
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <span [datetime]="ts.startDate" [format]="'Do MMMM YYYY'"></span>
                        </dd>
                    </div>
                    <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        End Date
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <span [datetime]="ts.endDate" [format]="'Do MMMM YYYY'"></span>
                        </dd>
                    </div>
    
                    <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Sensor
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ ts.madeBySensor.name }}
                        </dd>
                    </div>
    
                    <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Deployment
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ ts.hasDeployment.name }}
                        </dd>
                    </div>
    
                    </dl>
                </div>

            </div>

        </div>
    </div>
   
</div>