<header class="py-10">
    <div class="max-w-full mx-auto px-4 sm:px-0">
        <h1 class="text-white text-xl font-bold capitalize">Plot</h1>
    </div>
</header>

<!-- TODO: Make this nicer. At some point you might want to have some <select> boxes allowing the user to select what observed property and unit they want to use -->
<div *ngIf="tooVague">
    <p class="text-red-500">
        Not enough information has been provided in order to draw a plot.
    </p>
</div>


<div *ngIf="!tooVague" class="relative w-full shadow-md bg-gray-50 p-4 sm:rounded-sm">

    <buo-property-datetime-filter [initialTimeWindow]="{start: start, end: end}" (timeWindowChange)="handleTimeWindowChange($event)"></buo-property-datetime-filter>

    <div class="mt-4">
        <buo-column-chart *ngIf="chartType() == 'column-chart'; else lineChart" [timeseries]="tso$"></buo-column-chart>
        <ng-template #lineChart>
            <buo-line-chart [timeseries]="tso$"></buo-line-chart>
        </ng-template>
    </div>

    <!-- TODO: Beautify this. Use a modal? Add a spinner? Add a cancel button. -->
    <div *ngIf="gettingObs" class= "text-center m-3">
        <p>Retrieving observations. Tally so far: {{obsTally}}.</p>
    </div>
    
    <div *ngIf="timeseriesDifferencesOnly && timeseriesDifferencesOnly.length > 1" class="lg:-mx-2 w-full flex flex-wrap">
       
        <div *ngFor="let ts of timeseriesDifferencesOnly; trackBy: trackByFn" class="w-full lg:w-1/2 xl:w-1/3 lg:px-2">

            <div class="mt-4 w-full bg-white shadow-inner overflow-hidden border border-gray-200 sm:rounded-md">
                <div class="px-4 py-5 border-b border-gray-200 sm:px-6" [style.background]="ts.colours.line">
                    <h3 class="text-lg leading-6 font-medium" [style.color]="ts.colours.hover">
                    Timeseries Information
                    </h3>
                </div>
                <div class="px-4 py-5 sm:p-0">
                    <dl>

                    <!-- Probably don't need this given only one observed property will ever been show at once. -->
                    <div *ngIf="ts.observedProperty" class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Observed property
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                        {{ ts.observedProperty.label || ts.observedProperty.id }}
                        </dd>
                    </div>

                    <!-- Probably don't need this given only unit will ever been show at once. -->
                    <div *ngIf="ts.unit" class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Unit
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                        {{ ts.unit.label || ts.unit.id }}
                        </dd>
                    </div>

                    <div *ngIf="ts.aggregation" class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Unit
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                        {{ ts.aggregation.label }}
                        </dd>
                    </div>
    
                    <div *ngIf="ts.madeBySensor" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Sensor
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ ts.madeBySensor.label }}
                        </dd>
                    </div>
    
                    <div *ngIf="ts.hasDeployment" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Deployment
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ ts.hasDeployment.label }}
                        </dd>
                    </div>

                    <div *ngIf="ts.hasFeatureOfInterest" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Feature of Interest
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ ts.hasFeatureOfInterest.label || ts.hasFeatureOfInterest.id }}
                        </dd>
                    </div>

                    <div *ngIf="ts.ancestorPlatforms" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Platforms
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <ul class="list-disc">
                                <li *ngFor="let platform of ts.ancestorPlatforms">{{ platform.label }}</li>
                            </ul>
                            
                        </dd>
                    </div>

                    <div *ngIf="ts.disciplines" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Disciplines
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <ul class="list-disc">
                                <li *ngFor="let discipline of ts.disciplines">{{ discipline.label }}</li>
                            </ul>
                            
                        </dd>
                    </div>

                    <div *ngIf="ts.usedProcedures" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Procedures
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <ul class="list-disc">
                                <li *ngFor="let procedure of ts.usedProcedures">{{ procedure.label || procedure.id }}</li>
                            </ul>
                            
                        </dd>
                    </div>

                    <!-- <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Start Date
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <span [datetime]="ts.startDate" [format]="'Do MMMM YYYY'"></span>
                        </dd>
                    </div>
                    <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        End Date
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <span [datetime]="ts.endDate" [format]="'Do MMMM YYYY'"></span>
                        </dd>
                    </div> -->
    
                    </dl>
                </div>

            </div>

        </div>
    </div>
   
</div>


<buo-observation-modal></buo-observation-modal>