<header class="px-4 sm:px-0 py-10 bg-teal-900 flex">
    <div *ngIf="backUrl" class="mr-4">
        <button (click)="back()" type="button" class="text-white text-2xl h-12 w-12 bg-teal-700 rounded-full flex items-center justify-center hover:text-white hover:bg-teal-800 focus:outline-none focus:text-white focus:bg-teal-800">
            <i class="fas fa-chevron-left"></i>
        </button>
    </div>
    <div class="max-w-full mx-auto flex-1">
        <h1 class="text-white text-xl font-bold">{{title}}</h1>
        <p class="text-gray-300">{{subTitle}}</p>
    </div>
</header>

<!-- TODO: Make this nicer. At some point you might want to have some <select> boxes allowing the user to select what observed property and unit they want to use -->
<div *ngIf="tooVague">
    <p class="text-red-500">
        Not enough information has been provided in order to draw a plot.
    </p>
</div>


<div *ngIf="!tooVague" class="relative w-full shadow-md bg-gray-50 p-4 sm:rounded-sm">

    <buo-property-datetime-filter [initialTimeWindow]="{start: start, end: end}" (timeWindowChange)="handleTimeWindowChange($event)"></buo-property-datetime-filter>

    <!-- if we have no observations for the time period selected show message other load the chart -->
    <div *ngIf="obsTally === 0 && gettingObs === false; else showChart">
        <div class="mt-4 bg-white shadow-inner p-6 text-center border border-gray-200 sm:rounded-md">
            <p class="text-red-800 font-medium leading-5">No data for the period selected.</p>
        </div>
    </div>
    <ng-template #showChart>
        <div class="mt-4">
            <!-- column -->
            <buo-column-chart *ngIf="plotsToShow.includes('column-chart')" [timeseries]="tso$"></buo-column-chart>
            <!-- air quality line chart -->
            <buo-air-quality-line-chart *ngIf="plotsToShow.includes('air-quality-line-chart')" [timeseries]="tso$"></buo-air-quality-line-chart>
            <!-- wind direction line chart -->
            <buo-wind-direction-line-chart *ngIf="plotsToShow.includes('wind-direction-line-chart')" [timeseries]="tso$"></buo-wind-direction-line-chart>
            <!-- line chart -->
            <buo-line-chart *ngIf="plotsToShow.includes('line-chart')" [timeseries]="tso$"></buo-line-chart>
            <!-- total -->
            <buo-total *ngIf="plotsToShow.includes('total')" [timeseries]="tso$"></buo-total>
        </div>
    </ng-template>
    
    <div *ngIf="timeseriesDifferencesOnly && timeseriesDifferencesOnly.length > 1" class="-mx-2 flex flex-wrap">
       
        <div *ngFor="let ts of timeseriesDifferencesOnly; trackBy: trackByFn" class="w-full lg:w-1/2 xl:w-1/3 px-2">

            <div class="mt-4 w-full bg-white shadow-inner overflow-hidden border border-gray-200 sm:rounded-md">
                <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium" [style.color]="ts.colours.point">
                        <i class="mr-2 fas fa-circle" [style.color]="ts.colours.point"></i>
                        Timeseries
                    </h3>
                </div>
                <div class="px-4 py-5 sm:p-0">
                    <dl>

                    <!-- Probably don't need this given only one observed property will ever been show at once. -->
                    <div *ngIf="ts.observedProperty" class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Observed property
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                        {{ ts.observedProperty.label || ts.observedProperty.id }}
                        </dd>
                    </div>

                    <!-- Probably don't need this given only unit will ever been show at once. -->
                    <div *ngIf="ts.unit" class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Unit
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                        {{ ts.unit.label || ts.unit.id }}
                        </dd>
                    </div>

                    <div *ngIf="ts.aggregation" class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Aggregation
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                        {{ ts.aggregation.label }}
                        </dd>
                    </div>
    
                    <div *ngIf="ts.madeBySensor" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                        Sensor
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ ts.madeBySensor.label }}
                        </dd>
                    </div>
    
                    <div *ngIf="ts.hasDeployment" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Deployment
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ ts.hasDeployment.label }}
                        </dd>
                    </div>

                    <div *ngIf="ts.hasFeatureOfInterest" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Feature of Interest
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ ts.hasFeatureOfInterest.label || ts.hasFeatureOfInterest.id }}
                        </dd>
                    </div>

                    <div *ngIf="ts.ancestorPlatforms" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Platforms
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <ul class="ml-4 list-disc">
                                <li *ngFor="let platform of ts.ancestorPlatforms">{{ platform.label }}</li>
                            </ul>
                            
                        </dd>
                    </div>

                    <div *ngIf="ts.disciplines" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Disciplines
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <ul class="ml-4 list-disc">
                                <li *ngFor="let discipline of ts.disciplines">{{ discipline.label }}</li>
                            </ul>
                            
                        </dd>
                    </div>

                    <div *ngIf="ts.usedProcedures" class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                        <dt class="text-sm leading-5 font-medium text-gray-500">
                            Procedures
                        </dt>
                        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                            <ul class="ml-4 list-disc">
                                <li *ngFor="let procedure of ts.usedProcedures">{{ procedure.label || procedure.id }}</li>
                            </ul>
                            
                        </dd>
                    </div>    
                    </dl>
                </div>

            </div>

        </div>
    </div>
   
</div>

<buo-observation-modal></buo-observation-modal>
<buo-observation-loading-modal [showModal]="gettingObs" [obsTally]="obsTally" [notCancelled]="notCancelled" (cancelled)="notCancelled = false"></buo-observation-loading-modal>