<div class="border border-gray-200 rounded-md bg-white shadow-inner p-4">
    <div class="mt-4 w-full h-80" #lineChartContainer></div>
    <ng-template #noDataMessage>
        <div class="w-full text-sm leading-5 text-center text-gray-800">
            No data for the selected time period.
        </div>
    </ng-template>
    <p class="text-center text-sm text-gray-800 mt-3">
      Recommended limit based on <a href="https://uk-air.defra.gov.uk/air-pollution/uk-eu-limits" class="text-blue-600"> National Air Quality Objectives.</a>
    </p>
</div>