<div class="flex flex-col min-h-screen">
  <div class="relative flex-grow">
    <buo-header></buo-header>
    <main class="relative max-w-full mx-auto px-4 md:px-8 lg:px-12">
      <router-outlet name="primary"></router-outlet>
    </main>
  </div>


  <footer class="bg-teal-900 text-white">

    <p class="text-center m-2 text-sm">This data portal is still in beta. You may find some <a href="https://github.com/birminghamurbanobservatory/public-data-hub/issues" class="text-blue-400">bugs</a>.</p>

    <div class="flex flex-wrap items-center justify-around">

      <p class="text-center m-2">
        <a
          href="https://birminghamurbanobservatory.com/contact"
        >
          <!-- <FaEnvelope class="inline-block h-8 w-8 m-2" /> -->
          <i class="fas fa-envelope"></i>
          Get in touch
        </a>
      </p>
      
      <p class="text-center m-2">
        <a href="https://twitter.com/BhamUrbanObs">
          <!-- <FaTwitter class="inline-block h-8 w-8 m-2" /> -->
          <i class="fab fa-twitter"></i>
          Follow Us
        </a>
      </p>

      <a href="https://www.birmingham.ac.uk" class="m-2">
        <img src="/assets/images/logos/uob-logo.png" class="h-16" alt="UoB Logo"/>
      </a>

      <a href="https://epsrc.ukri.org/" class="m-2">
        <img src="/assets/images/logos/epsrc-logo-white.png" class="h-16" alt="EPSRC Logo"/>
      </a>

      <a href="https://www.ukcric.com" class="m-2">
        <img src="/assets/images/logos/ukcric-logo.png" class="h-16" alt="UKCRIC Logo"/>
      </a>

    </div>

    <p class="text-center text-xs">v{{version}}</p>

  </footer>

</div>