<header class="py-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-0">

        <buo-control-panel></buo-control-panel>

    </div>
</header>

<div class="relative w-full h-screen shadow-md">

    <buo-deployment-panel [platform]="platformDetail" 
                          [observations]="latestObservations" 
                          (showModal)="showPlatformModal($event)"
                          *ngIf="showPanel"></buo-deployment-panel>

    <buo-google-map></buo-google-map>

    <buo-platform-modal [show]="showModal" (close)="showModal = false" [platform]="explorePlatform"></buo-platform-modal>
</div>