<header class="py-6">
    <div class="max-w-full mx-auto px-4 sm:px-0">

        <buo-control-panel (reset)="setPlatforms()" (closePanel)="showPanel = false"></buo-control-panel>

    </div>
</header>

<div class="relative w-full h-screen shadow-md">

    <buo-google-map></buo-google-map>
    
    <buo-deployment-panel [platform]="platformDetail" 
                          [observations]="latestObservations" 
                          (closePanel)="showPanel = false"
                          *ngIf="showPanel"></buo-deployment-panel>


    <buo-observation-modal></buo-observation-modal>
</div>