<header class="py-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-0">
        <h1 class="text-white text-xl font-bold">{{ platform?.label}}</h1>
    </div>
</header>

<div class="relative w-full shadow-md bg-gray-50 p-4 rounded-sm">

    <div *ngFor="let sensor of sensors" class="flex mb-4 bg-gray-100 rounded">

        <div class="bg-gray-50 p-4 flex flex-col w-1/6">
            <h3 class="text-sm leading-5 font-medium text-indigo-600">{{ sensor.lastReading.observedProperty }}</h3>
            <p class="text-3xl font-bold">
                {{ sensor.lastReading.hasResult.value }}
                <span class="text-sm font-thin">C</span>
            </p>
            <p class="text-gray-400 text-sm">
                <i class="far fa-clock mr-1"></i>
                {{ formatTime(sensor.lastReading.resultTime) }}
            </p>
            <p class="text-gray-400 text-sm">
                <i class="far fa-calendar mr-1"></i>
                {{ formatDate(sensor.lastReading.resultTime) }}
            </p>
        </div>

        <div class="relative w-full h-30"></div>

    </div>

</div>